{% extends "base.html" %}
{% load static %}
{% block title %}Logged Out{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'main1112.css' %}">

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg p-5 text-center" style="max-width: 500px; width: 100%;">
        <div class="card-body">
            <h2 class="text-success mb-4">You have been successfully logged out.</h2>
            <p class="lead mb-4">We hope to see you again soon!</p>
            <p>You can <a href="{% url 'login' %}" class="btn btn-primary btn-lg">log in again</a>.</p>
        </div>
    </div>
</div>


{% endblock %}
